# STATISTICS MID EXAM

### Total Marks : 30
### Time - 2 Hours

# SECTION A: 5 MARKS

yy
a)	Determine what percentage of vehicles will pay the penalty?(0.5 mark)

b) If the limit of allowed load is decreased to 13 tonnes, what percentage of vehicles do not pay the penalty? (1 marks) 

c) What should be the load limit that atleast 5% of the vehicles will face penalties? (1 marks)

In [1]:
# A
xbar = 13.5
mu =12
sigma=1.2
z = (xbar-mu)/sigma
z

1.25

In [2]:
print('percentage',(1-0.8944)*100)

percentage 10.560000000000002

In [3]:
# B
xbar = 13
mu =12
sigma=1.2
z = (xbar-mu)/sigma
z

0.8333333333333334

In [51]:
print('percentage',0.7967*100)

percentage 79.67

In [4]:
# 5% 

print('5% of the vehicles will face penalties',0.5*12+1.2)

5% of the vehicles will face penalties 7.2

### 2Q) A fitness company claims that 500 individuals followed a healthy diet for a month and they have lost atleast 5kg. A random sample of 29 individuals weights have been gathered and they have lost an average of 6.7kgs. Assume that the average weight loss of all the individuals have a normal distribution with the population standard deviation of 1.3. Using 5% significance level, can we conclude that the fitness company claim is false? (2.5 Marks)

A.Frame Null and Alternate Hypothesis ( 0.5 Mark)

B.State which tail test to be performed (0.5 Mark)

C.Find the test statistic (1 Mark)

D.Interpret the results (0.5 Mark)

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

* H0 : mu <= 5
* Ha : mu > 5

###### **perform right tail test**

In [2]:
mu= 5
xbar= 6.7
n= 29
sigma = 1.3
se =sigma/np.sqrt(29)
zstats= (xbar-mu)/se
zstats

7.042138593945121

In [3]:
print('critical value',stats.norm.ppf(0.95))

critical value 1.6448536269514722

since the critical value is greater than pvalue we can reject the null hypothesis

# SECTION B: 10 MARKS

 _____________________________

### 3Q) For a concrete to become strong curing is most important aspect, basically for a building contractor managing water resources is the biggest challenge so he wanted to check what is the ideal temparature for a concrete to gain full strength with minimal water resource for 28 days. Below data shows the strength aquired by sample concrete blocks based on various temparature.Perform the analysis with 5% significance level.(10 marks)

| Strength in 5 degree to 15 degree|Strength in  15 degree to 30 degree|Strength in 30 degree to 45 degree|
|---|---|---|
|12 |9|6|
|8||5|
|11 |7|5|
|12 |6|4|
|14 |8|8|
|8 |4|7|
|9 |6|6|
|11 |7|2|
|12 |7|4|
|11.5 |7|3|
|10.5 |8|4|
|10.5 |8|5|



i) Create the Hypothesis (1 marks)

ii) Determine the Statistical Test and give the reason for the selection of the test.(1 mark)

iii) Find the test statistics and pvalue.(3 marks)

iv) Interpret the Results(2 marks)

v) If strength differs. Find at which temperature strength differs(3 marks)


**Note: Assume data is normally distributed and have equal variance.**

hypothesis

* H0 : temperature has no impact on concrete brick strength
* Ha : temperture has impacton concrete brick strength

In [4]:
s5_15 = [12,8,11,12,14,8,9,11,12,11.5,10.5,10.5]
s15_30 = [9,np.nan,7,6,8,4,6,7,7,7,8,8]
s30_45 = [6,5,5,4,8,7,6,2,4,3,4,5]

In [5]:
stats.f_oneway(s5_15,s15_30,s30_45)

F_onewayResult(statistic=nan, pvalue=nan)

`infrences:-`
    
   **reject the reject null hypothesis**

In [6]:
sk= pd.DataFrame({'Strength in 5 degree to 15 degree':s5_15,'Strength in 15 degree to 30 degree':s15_30,'Strength in 30 degree to 45 degree':s30_45})

In [7]:
sk= sk.melt()

In [8]:
sk.drop(index=13,inplace = True)

In [17]:
sk.head()

                            variable  value
0  Strength in 5 degree to 15 degree   12.0
1  Strength in 5 degree to 15 degree    8.0
2  Strength in 5 degree to 15 degree   11.0
3  Strength in 5 degree to 15 degree   12.0
4  Strength in 5 degree to 15 degree   14.0

In [9]:
from statsmodels.stats.multicomp import MultiComparison

In [22]:
m= MultiComparison(sk.value,sk.variable).tukeyhsd()

In [24]:
print(m)

                            Multiple Comparison of Means - Tukey HSD, FWER=0.05
===========================================================================================================
              group1                             group2               meandiff p-adj  lower   upper  reject
-----------------------------------------------------------------------------------------------------------
Strength in 15 degree to 30 degree Strength in 30 degree to 45 degree  -2.0833 0.011 -3.7365 -0.4302   True
Strength in 15 degree to 30 degree  Strength in 5 degree to 15 degree   3.7917 0.001  2.1385  5.4448   True
Strength in 30 degree to 45 degree  Strength in 5 degree to 15 degree    5.875 0.001  4.2582  7.4918   True
-----------------------------------------------------------------------------------------------------------

 _________________

# SECTION C: 15 MARKS

 _________________

### Q4) Consider salary data set to solve the below hypothesis . .(Use p-value method with 95%confidence level)

1.Does Age has any effect on the salary of an individual  ( 3 marks )

2.Does Education has any effect on the salary of an individual ( 3 marks )

3.Does Designation has any effect on the salary of an individual ( 3 marks )

4.Does salary effected by gender of an individual.  ( 3 marks )

5.Does salary effected by experience of an individual. ( 3 marks )

**Note: Assume data is normally distributed and have equal variance.**

In [11]:
import pandas as pd
df = pd.read_csv('data_set.csv')
df.head()

   Student_id  Age Gender Education  Experience Designation  Salary
0           1   22      M    Degree           1   Associate   28000
1           2   23      F    Degree           2   Associate   21000
2           3   24      F   Masters           3   Associate   22000
3           4   25      F   Masters           4   Associate   23000
4           5   32      M    Degree          11   Associate   21000

In [25]:
from statsmodels.formula.api import ols

In [27]:
stats.ttest_ind(df.Age,df.Salary)

Ttest_indResult(statistic=-43.54052993245657, pvalue=5.792256277166886e-122)

In [30]:
# since pvalue is greater we reject the null hypothesis
model=ols('Salary~Education',df).fit()

In [33]:
import statsmodels.stats.api as st

In [34]:
st.anova_lm(model)

              df        sum_sq       mean_sq         F    PR(>F)
Education    2.0  7.250989e+08  3.625494e+08  5.960305  0.003343
Residual   129.0  7.846725e+09  6.082733e+07       NaN       NaN

In [36]:
model=ols('Salary~Designation',df).fit()

In [37]:
st.anova_lm(model)

                df        sum_sq       mean_sq         F    PR(>F)
Designation    3.0  8.760928e+08  2.920309e+08  4.857233  0.003111
Residual     128.0  7.695731e+09  6.012290e+07       NaN       NaN

In [39]:
model=ols('Salary~Gender',df).fit()

In [40]:
st.anova_lm(model)

             df        sum_sq       mean_sq         F   PR(>F)
Gender      1.0  3.109169e+07  3.109169e+07  0.473252  0.49272
Residual  130.0  8.540732e+09  6.569794e+07       NaN      NaN

In [41]:
stats.ttest_ind(df.Salary,df.Experience)

Ttest_indResult(statistic=43.57035659829276, pvalue=4.947064888218357e-122)